<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.population.mapper.MigrationInMapper">

    <select id="listByTransferBatch" resultType="com.example.population.entity.MigrationIn">
        SELECT * FROM migration_in
        WHERE transfer_batch_no = #{transferBatchNo}
        ORDER BY in_date, in_id
    </select>

</mapper>